Repository Job-Advisor-project/FrontEnd, pull requests merged in 2022-11, with the labels that each got.

#7 added a file for survey results
  planning/survey-result.md
Labels: user personas, survey

#14 Survey result
  .cspell.json
  planning/communication-plan.md
  planning/survey-result.md
Labels: survey, planning

#43 react and mui installation
  .ls-lint.yml
  react/.gitignore
  react/README.md
  react/package-lock.json
  react/package.json
  react/public/favicon.ico
  react/public/index.html
  react/public/logo192.png
  react/public/logo512.png
  react/public/manifest.json
  react/public/robots.txt
  react/src/App.js
  react/src/index.css
  react/src/index.js
  react/src/logo.svg
  react/src/reportWebVitals.js
  react/src/setupTests.js
Labels: react, frontend

#50 Project structure
  react/src/api/viewModelels/test.js
  react/src/index.js
  react/src/logo.svg
  react/src/reportWebVitals.js
  react/src/router.js
  react/src/setupTests.js
Labels: documentation, deveployement

#54 created a hook for fetching api data
  react/src/App.js
  react/src/api/viewModelels/useCompanies.js
  react/src/components/CompanyCards.jsx
  react/src/pages/Home.jsx
Labels: documentation, react, deveployement

#56 Moved hook to api folder
  react/src/api/useCompanies.js
Labels: documentation, react

#62 api calls with design by Fenny
  react/src/App.js
  react/src/api/companiesByTag.js
  react/src/api/slider.json
  react/src/api/useCompanies.js
  react/src/api/viewModelels/companiesByTagVm.js
  react/src/api/viewModelels/test.js
  react/src/components/CarouselCards.jsx
  react/src/components/CompanyCards.jsx
  react/src/components/Item.jsx
  react/src/pages/Home.jsx
  react/src/pages/SearchResult.jsx
Labels: deveployement

#67 edit flexbox
  react/src/App.js
  react/src/components/CompanyCards.jsx
Labels: must-have, company card, frontend

#73 Routers
  react/package-lock.json
  react/package.json
  react/public/uploads/.gitkeep
  react/public/uploads/amazon_fa51376204.png
  react/public/uploads/deloitte_b3849e9b26.png
  react/public/uploads/download_2_94c15958d1.png
  react/public/uploads/google_bbc47c6893.png
  react/public/uploads/hackyourf_2979ac615b.png
  react/public/uploads/small_amazon_fa51376204.png
  react/public/uploads/small_google_bbc47c6893.png
  react/public/uploads/thumbnail_amazon_fa51376204.png
  react/public/uploads/thumbnail_deloitte_b3849e9b26.png
  react/public/uploads/thumbnail_download_2_94c15958d1.png
  react/public/uploads/thumbnail_google_bbc47c6893.png
  react/public/uploads/thumbnail_hackyourf_2979ac615b.png
  react/src/App.js
  react/src/api/companiesByTag.js
  react/src/api/viewModelels/companiesByTagVm.js
  react/src/components/CarouselCards.jsx
  react/src/components/CompanyCards.jsx
  react/src/components/Item.jsx
  react/src/index.js
  react/src/pages/Home.jsx
  react/src/pages/SearchResult.jsx
Labels: deveployement, carousel, router

#76 Fixcarousel
  react/package-lock.json
  react/package.json
  react/src/components/CarouselCards.jsx
Labels: carousel

#84 added time for week 5
  planning/communication-plan.md
Labels: communication

#77 Navigationbar
  react/package-lock.json
  react/package.json
  react/public/assets/figma download/carousel1.png
  react/public/assets/figma download/carousel2.png
  react/public/assets/figma download/carousel3.png
  react/public/assets/figma download/carousel4.png
  react/public/assets/jobadvisorlogo.jpg
  react/public/logo192.png
  react/src/api/slider.json
  react/src/components/Header.jsx
  react/src/components/Item.jsx
  react/src/pages/Home.jsx
Labels: navigation bar

#88 added Banner component
  react/public/background.png
  react/src/components/Banner.jsx
  react/src/components/SearchBar.jsx
  react/src/pages/Home.jsx
Labels: search bar, homepage, week5, title

#92 changed image in Banner component
  react/src/components/Banner.jsx
Labels: homepage, banner

#95 added section with tag buttons
  react/src/api/slider.json
  react/src/components/Item.jsx
  react/src/components/TagButtons.jsx
  react/src/pages/SearchResult.jsx
Labels: week5, search result page, tag buttons

#96 added hero section
  react/src/components/HeroSection.jsx
  react/src/pages/SearchResult.jsx
Labels: week5, search result page, hero section

#100 SearchBar update, company overview page created
  react/src/App.js
  react/src/api/companiesByDisplay.js
  react/src/api/companyData.js
  react/src/api/companyList.js
  react/src/api/viewModelels/companyDataVm.js
  react/src/api/viewModelels/companyListVm.js
  react/src/components/Banner.jsx
  react/src/components/SearchBar.jsx
  react/src/pages/CompanyOverview.jsx
  react/src/pages/Home.jsx
Labels: search bar, company page, backend, banner

#103 changed url for background
  react/public/background.png
  react/src/components/Banner.jsx
  react/src/components/Header.jsx
Labels: banner

#109 Fix Company card and add router to homepage, added footer to all pages
  react/src/components/CompanycardsBysearch.jsx
  react/src/components/Header.jsx
  react/src/pages/CompanyOverview.jsx
  react/src/pages/SearchResult.jsx
Labels: company page

#119 Fix tag buttons
  react/src/components/CompanycardsBysearch.jsx
  react/src/components/TagButtons.jsx
  react/src/pages/SearchResult.jsx
Labels: react, search result page, tag buttons

#122 added code for Company overview page
  react/src/api/companiesByTag.js
  react/src/api/companyData.js
  react/src/api/companyList.js
  react/src/api/viewModelels/companyDataVm.js
  react/src/components/Banner.jsx
  react/src/components/CompanyCards.jsx
  react/src/components/SearchBar.jsx
  react/src/components/Tabs.jsx
  react/src/pages/CompanyOverview.jsx
Labels: company page, backend

#131 129 clean up figma file and move figma design into planning folder
  planning/assets/design/Company Snippet.png
  planning/assets/design/based on carousel.png
  planning/assets/design/based on location search.png
  planning/assets/design/company overview.png
  planning/assets/design/homepage.png
  planning/assets/design/workpicture.png
  planning/assets/design/write review page.png
  react/public/assets/cc-bg.png
  react/public/assets/company-logo/Google-Logo.jpg
  react/public/assets/company-logo/UnilinCorporate_Logo_Mobile.jpg
  react/public/assets/company-logo/amazon.jpg
  react/public/assets/company-logo/ibm logo.png
  react/public/assets/company-logo/jobadvisorlogo.jpg
  react/public/assets/figma download/edited-idea.png
  react/src/components/Banner.jsx
Labels: design

#135 added job vacancies, styling and links
  react/src/api/openJobs.js
  react/src/api/viewModelels/openJobsVm.js
  react/src/components/Jobs.jsx
  react/src/components/Tabs.jsx
  react/src/pages/CompanyOverview.jsx
Labels: company page, frontend, backend, open jobs

#136 fix navigation
  react/public/favicon.ico
  react/public/logo512.png
  react/src/App.js
  react/src/components/Banner.jsx
  react/src/components/CompanyCards.jsx
  react/src/pages/SearchResult.jsx
Labels: company card, banner

#138 fixed buttons on search result page and default state
  react/src/App.js
  react/src/components/CompanyCards.jsx
  react/src/components/HeroSection.jsx
  react/src/components/TagButtons.jsx
Labels: search result page, tag buttons

#139 fix img path
  react/src/components/CarouselCards.jsx
  react/src/components/CompanyCards.jsx
  react/src/components/Jobs.jsx
  react/src/components/Tabs.jsx
Labels: image

#140 added redirect file
  react/public/_redirects
  react/src/components/Banner.jsx
Labels: react

#141 changed path for img
  react/src/components/Tabs.jsx
Labels: company page, image
